@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bm-grid-margin: 1rem;
}

.bm-grid {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

.bm-grid-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}